<h2>Sistema de control claro</h2>
<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Inicio
  </li>
  <li routerLink="terminales" routerLinkActive="active" class="list-group-item">
    Terminales
  </li>
  <li
    routerLink="homologaciones"
    routerLinkActive="active"
    class="list-group-item"
  >
    Homologaciones
  </li>
  <li routerLink="sim-card" routerLinkActive="active" class="list-group-item">
    Sim card
  </li>
</ul>
